python-dotenv

# Livekit Core API
livekit

# Livekit Agents locked to specific commit
git+https://github.com/livekit/agents.git@9f8c961#subdirectory=livekit-agents
git+https://github.com/livekit/agents.git@9f8c961#subdirectory=livekit-plugins/livekit-plugins-openai
git+https://github.com/livekit/agents.git@9f8c961#subdirectory=livekit-plugins//livekit-plugins-deepgram
